
@*@model IEnumerable<Author>*@

@model PagingList<Author>
@{
    ViewData["Title"] = "لیست نویسندگان";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row w-100 px-sm-2">
    <!--پنل ادمین-->
    <div class="col-md-3 mr-lg-0 mr-sm-0 mr-md-0 mr-2">
        @await Html.PartialAsync("_AdminPanelPartial")
    </div>
    <!--برای اینکه کنار پنل داشبورد بیفتد-->
    <div class="col-md-9 col-md-9 mr-lg-0 mr-sm-0 mr-md-0 mr-2">
        <div class="card mt-3 ">

            <!--Header & search box-->
            <div class="card-header bg-primary text-light ">
                <div class="row justify-content-md-around">
                    <!--   را میدهیم تا متن هم تراز متن اینئوت شود col-form-label-->
                    <div class="col-md-8 col-form-label" style="font-weight:400;"> لیست نویسندگان</div>

                    <div class="col-md-4 my-2">
                        <form asp-action="SearchAuthor" method="post">
                            <div class="input-group ">
                                <input type="search" id="authorSearch" name="authorSearch" class="form-control" placeholder=" نام نویسنده..." />
                                <div class="input-group-prepend ">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-search "></i></button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
            <!--End Header & search box-->

            <div class="card-body">
                <a class="btn btn-primary" data-toggle="modal" id="show-add-author" asp-action="AddEditAuthor"
                   data-target="#modal-action-author">
                    <i class="fa fa-plus"></i>
                    <span>افزودن نویسندگان</span>
                </a>
                <div></div>
                <table class="table table-bordered table-striped table-sm mt-3  tableMobilize">
                    <thead class="thead-light">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AuthorName)</th>
                            <th>@Html.DisplayNameFor(model => model.AuthorDescription)</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.AuthorName</td>
                                <td>@item.AuthorDescription</td>
                                <td>
                                    <div>
                                        <a class="btn btn-info mb-1" data-toggle="modal" id="show-edit-author" asp-action="AddEditAuthor"
                                           data-target="#modal-action-author" asp-route-id="@item.AuthorId">
                                            <i class="fa fa-pen"></i>
                                            <span>ویرایش نویسنده</span>
                                        </a>
                                        <!--اگر کتابی با گروه بندی مورد نظر وجود نداشت دکمه حذف را نشان می دهد-->
                                        @if (item.Books.Count() == 0)
                                        {
                                            <a class="btn btn-danger " data-toggle="modal" id="show-delete-author" asp-action="DeleteAuthor"
                                               data-target="#modal-action-author" asp-route-id="@item.AuthorId">
                                                <i class="fa fa-trash "></i>
                                                <span>حذف نویسنده</span>
                                            </a>
                                        }
                                    </div>

                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
                <!--showing pagination-->
                <div class="row justify-content-center">
                    <nav>
                        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                    </nav>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_ModalPartial", new BootstrapModel { Id = "modal-action-author", Size = ModalSize.Medium })

@section Scripts{
    <script src="~/js/Modal-js/author-index.js"></script>
    <script src="~/js/admin-panel.js"></script>
    <script>
        $(document).ready(function () {
            //ریسپانسیو کردن جدول-دستور پلاگین
            $('table').tableMobilize();
        });
    </script>
}
