
@model ReflectionIT.Mvc.Paging.PagingList<ManageReqestedBookViewModel>

@{
    ViewData["Title"] = "پرفایل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/persiandatepicker/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />

<div class="row w-100 px-sm-2">
    <!--پنل ادمین-->
    <div class=" col-md-4 col-sm-12  mr-lg-0 mr-md-0 mr-sm-0  mr-2">
        @await Html.PartialAsync("_UserPanelPartial")
    </div>
    <!--برای اینکه کنار پنل داشبورد بیفتد-->
    <div class=" col-md-8 col-sm-12 mr-lg-0 mr-sm-0 mr-md-0 mr-2">
        <div class="card mt-3">



            <!--start Header & search box-->
            <div class="card-header bg-primary text-light ">
                <div class="row justify-content-md-around">
                    <!--   را میدهیم تا متن هم تراز متن اینئوت شود col-form-label-->
                    <div class="col-md-4 col-form-label" style="font-weight:400;"> لیست درخواست ها</div>
                    <div class="col-md-8 my-2 ">
                        <!--هم گذاشت  post  گذاشت و       get  متد سرچ را هم میتنوان   -->
                        <!-- باشد قابلیت بوک مارک دارد و میتوان بقیه اشتراک گذاشت مقدار سرچ در ادرس مرور گر نایش داده منیشود اطلاعات سرچ وارسالی ما به سرور  get    اگر-->
                        <!-- باشد قابلیت بوک مارک ندارد و نمیتوان بقیه اشتراک گذاشت مقدار سرچ   در ادرس مرور گر نایش داده نمیشود برای ارسال امن اطالعات خوب است ولی در سرچ امنیت هم نیست  post  اگر-->
                        <form asp-controller="UserProfile" asp-action="SearchInUserAsync" method="get">
                            <div class="row">
                                <div class="input-group col-md-3">
                                    <div class="input-group-prepend">
                                        <span class="btn btn-secondary" id="date4"><i class="far fa-calendar-alt text-light"></i></span>
                                    </div>
                                    <input type="text" id="fromDate" name="fromDate" class="form-control" placeholder="ازتاریخ" aria-label="date4"
                                           aria-describedby="date4">
                                </div>

                                <div class="input-group col-md-3">
                                    <div class="input-group-prepend">
                                        <span class="btn btn-secondary" id="date5"><i class="far fa-calendar-alt text-light"></i></span>
                                    </div>
                                    <input type="text" id="toDate" name="toDate" class="form-control" placeholder="تا تاریخ" aria-label="date5"
                                           aria-describedby="date5">
                                </div>

                                <div class="input-group col-md-6">
                                    <input type="text" id="bookSearch" name="bookSearch" class="form-control " placeholder="عنوان درخواست..." />
                                    <div class="input-group-prepend ">
                                        <button type="submit" class="btn btn-success " style="border-radius:5px 0 0 5px !important;"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--End Header & search box-->



            <div class="card-body ">
                <div></div>
                <table class="table table-bordered table-striped table-hover table-sm mt-3 tableMobilize ">
                    <thead class="bg-info text-light">
                        <tr class="tb-pa">
                            <th>ردیف</th>
                            <th>@Html.DisplayNameFor(model => model.BookName)</th>
                            <th>@Html.DisplayNameFor(model => model.FlageState)</th>
                            <th>@Html.DisplayNameFor(model => model.Price)</th>
                            <th>@Html.DisplayNameFor(model => model.RequestDate)</th>
                            <th>@Html.DisplayNameFor(model => model.AnswerDate)</th>
                            <th>@Html.DisplayNameFor(model => model.ReturnDate)</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            int counter = 1; //شمارش ردیف
                            foreach (var item in Model)
                            {
                                <tr class="tb-pa">
                                    <td>@(counter++)</td>

                                    <td>@item.BookName</td>

                                    @if (item.Flag == 1)
                                    {
                                        //درخواست
                                        <td class="bg-warning ">@item.FlageState</td>
                                    }
                                    @if (item.Flag == 2)
                                    {
                                        //درخواست تایید شده
                                        <td class="bg-success text-light">@item.FlageState</td>
                                    }
                                    @if (item.Flag == 3)
                                    {
                                        //درخواست رد شده
                                        <td class="bg-danger text-light">@item.FlageState</td>
                                    }
                                    @if (item.Flag == 4)
                                    {
                                        //کتاب برگردانده شده

                                        <td class="bg-primary text-light">@item.FlageState</td>
                                    }
                                    @*<td>@item.Price</td>*@
                                    <td>@item.Price.ToString("#,##0")</td>
                                    <td>@item.RequestDate</td>
                                    <td>@item.AnswerDate</td>
                                    <td>@item.ReturnDate</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
            <!--showing pagination-->
            <div class="row justify-content-center">
                <nav>
                    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                </nav>
            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/admin-panel.js"></script>
    <script>
        $(document).ready(function () {
            //ریسپانسیو کردن جدول-دستور پلاگین
            $('table').tableMobilize();
        });
    </script>
    <!--Start Persian data picker-->
    <script src="~/persiandatepicker/jquery.md.bootstrap.datetimepicker.js"></script>
    <script>
        $('#date4').MdPersianDateTimePicker({
    targetTextSelector: '#fromDate',
    fromDate: true,
    groupId: 'rangeSelector1'
});
$('#date5').MdPersianDateTimePicker({
    targetTextSelector: '#toDate',
    toDate: true,
    groupId: 'rangeSelector1',
    placement: 'top'
});
    </script>
    <!--End Persian data picker-->
}