
@model MultiModelsViewModel
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = "Home Page";
}


@*دکمه و اینپوت سرچ*@
@section SearchSection{
    <form class="form-inline">
        <input type="text" name="txtSearch" id="txtSearch" class="form-control-sm  ml-sm-2" placeholder="جست و جو..." />
        <button asp-controller="Home" asp-action="Search" class="btn btn-secondary"><i class="fa fa-search"></i></button>
    </form>
}

<!--start Main-div-->
<div id="main-div">
    <!--start row-->
    @* برای استفاده از کلاس
        باید از کلاس   float
        استفاده کنیمclearfix
    *@
    <div class="row clearfix ">

        <!--start main-right-panel-->
        <div id="main-right-panel" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">

            <!---------------------------start right-panel-shopping cart---------------------------------------------->
            @if (signInManager.IsSignedIn(User))
            {
                <div id="right-panel-lastnews">
                    @Html.Partial("_BorrowCartPartial")
                </div>
            }

            <!-------------------------------start right-panel-lastnews------------------------------------------------->
            <div id="right-panel-lastnews">

                @* استفاده از پارشیال ویو *@
                @Html.Partial("_LastNewsPartial", Model.LastNews)
            </div>  @*end right-panel-lastnews*@

            <!--start right-panel-user-->
            <div id="right-panel-lastregisteruser" class="divStyle">

                @Html.Partial("_LastRegisterUserPartial", Model.LastRegistedUser)



            </div>  @*End right-panel-user*@

        </div> @*end main-right-panel*@



        <!--start main-content-->
        @*برای این است که مطمین شویم این دیو حتا سمت چپ میماند float-left*@
        <div id="main-content" class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 pb-1 float-left">


            @Html.Partial("_LastBookPartial", Model.LastBook)


            @Html.Partial("_MostViewedBookPartial", Model.MostViewedBook)

            @Html.Partial("_ScientificBookPartial", Model.ScientificBook)

        </div>  @*End main-content*@



    </div> @*End row*@

</div>  @*End main-div*@



<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });
</script>