
@model IEnumerable<BookListViewModel>

@{
    ViewData["Title"] = "لیست کتابها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-3">
    <div class="card-header bg-primary text-light">لیست  کتابها</div>
    <div class="card-body">
        <div>
            <a class="btn btn-primary" data-toggle="modal" id="show-add-book" asp-action="AddBook"
               data-target="#modal-action-book">
                <i class="fa fa-plus"></i>
                <span>افزودن  کتاب</span>
            </a>
        </div>

        <table class="table table-striped table-sm table-bordered mt-3">
            <thead>
                <tr>
                    <!-- Html Helper for dynamic implementing the property titles of the table(class= @@model IEnumerable<BookGroup>)-->
                    <th>@Html.DisplayNameFor(model => model.BookName)</th>
                    <th>@Html.DisplayNameFor(model => model.BookPageCount)</th>
                    <th>@Html.DisplayNameFor(model => model.BookImage)</th>
                    <th>@Html.DisplayNameFor(model => model.AuthorName)</th>
                    <th>@Html.DisplayNameFor(model => model.BookGroupName)</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BookName</td>
                        <td>@item.BookPageCount</td>
                        <td>@item.BookImage</td>
                        <td>@item.AuthorName</td>
                        <td>@item.BookGroupName</td>
                        <td>
                            <a class="btn btn-info" data-toggle="modal" id="show-edit-book" asp-action="EditBook"
                               data-target="#modal-action-book" asp-route-id="@item.BookId">
                                <i class="fa fa-pen"></i>
                                <span>ویرایش</span>
                            </a>
                            <a class="btn btn-danger" data-toggle="modal" id="show-delete-book" asp-action="DeleteBook">
                                <i class="fa fa-trash"></i>
                                <span>حذف</span>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>

@Html.Partial("_Modalpartial", new BootstrapModel { Id = "modal-action-book", Size = ModalSize.Large })

@section Scripts{

    <script src="~/js/Modal-js/book-index.js"></script>

    <!--Js for the ckeditor 5-->
    <script src="~/js/ckeditor5/ckeditor.js"></script>
    <!--Js for changing the ckeditor 5 language-->
    <script src="~/js/ckeditor5/translations/fa.js"></script>

    <script src="~/js/Modal-js/ck.js"></script>


}
