
@model MultiModelsViewModel

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpCookie
@{
    ViewData["Title"] = "سبد امانات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start Main-div-->
<div id="main-div">
    <!--start row-->
    <div class="row clearfix ">

        <!-------------------------------start main-right-panel-------------------------------------------------->
        <div id="main-right-panel" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">

            <!-------------------------------start wallet & user fullName -------------------------------------------------->

            <div class="my-2 p-1 divStyle">
                <div>
                    <span class="text-secondary font-weight-bold ml-2 col-md-6" style="font-size:12px;">
                        نام و نام خانوادگی کاربر:
                    </span>
                    <span class="col-md-6" style="font-size:16px;font-weight:800;color:#e1955f">@ViewBag.userFullName</span>
                </div>
                <br />
                <br />
                <div>
                    <span class="text-secondary font-weight-bold ml-2 col-md-6" style="font-size:12px;">
                        موجودی کیف پول :
                    </span>
                    <span class="col-md-6" style="font-size:16px;font-weight:800;color:#e1955f">@ViewBag.wallet.ToString("#,##0")</span>

                    <span class="text-secondary font-weight-bold ml-2 col-md-6 " style="font-size:12px;">تومان</span>
                </div>

            </div>
            <!-------------------------------end  wallet & user fullName -------------------------------------------------->
            <!---------------------------start right-panel-lastnews---------------------------------------------->
            <div id="right-panel-lastnews">
                @Html.Partial("_LastNewsPartial", Model.LastNews)
            </div>

            <!---------------------------start right-panel-user-------------------------------------------------->
            <div id="right-panel-lastregisteruser" class="divStyle">
                @Html.Partial("_LastRegisterUserPartial", Model.LastRegistedUser)
            </div>
        </div>

        <!-------------------------------start main-content------------------------------------------------------->
        <!----------------------Book Details------------------->
        <div id="main-content" class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 pb-1 float-left mt-md-0 mt-sm-2 ">
            <div class="bg-light p-2 mt-5" style="border:1px solid black; box-shadow:1px 2px 9px 1px black">
                <div class="p-1 mt-2 mb-3">
                    <h4 class="text-success  text-center">لیست کتاب های درخواستی </h4>
                    <hr class="w-75 bg-secondary mx-auto" />
                </div>
                @if (httpCookie.HttpContext.Request.Cookies["_bb"] != null)
                {
                    <table class="table table-bordered table-hover  table-sm">
                        <thead class="thead-light text-center">
                            <tr class="p-1">
                                <th>ردیف</th>
                                <th>شماره کتاب</th>
                                <th>نام کتاب</th>
                                <th>بهای  کتاب</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody class="p-1 text-center">
                            @{
                                int counter = 1; <!--شمارنده-->

                                @foreach (var item in Model.RequsetedBook)
                                {
                            <tr>
                                <td>@(counter++)</td>     <!--نمایش شمارنده -->

                                <td>@item.BookId</td>
                                <td>@item.BookName</td>
                                <td>@item.Price.ToString("#,##0")</td> <!--نمایش عدد سه تا سه تا   ToString("#,##0")-->
                                <td>
                                    <a asp-controller="Book" asp-action="DeleteRequestedBook" asp-route-id="@item.BookId" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>

                    <div class="text-left">
                        <hr class="bg-dark" />

                        <!--برای نمایش اعداد به صو.رت سه رم سه رقم از دوروش زیر استفاده میتوان کرد-->
                        @*@string.Format("{0:#,0.00}",totalPrice)     razor page*@
                        @*@totalPrice.ToString("#,##0,0.00")*@
                        <!--اگر اعشار را نمیخواهیم باید . 0.00را حذف کنیم
                            0.00 به جای دوتا صفر هرتعدا رقم اعشار ک میخواهیم نمایش دهیم میگذاریم-->

                        @{
                            int totalPrice = Model.RequsetedBook.Sum(b => b.Price);
                        }

                        <span class="text-primary pr-1" style="font-size:14px;font-weight:600">مجموع بهای کتاب ها:</span>
                        <span class="text-success pr-1 number" style="font-size:14px;font-weight:700">@totalPrice.ToString("#,##0")</span>
                        <span class="text-secondary pl-1" style="font-size:13px;font-weight:600">تومان</span>

                    </div>
                    <br />
                    <div>
                        <a id="btn-submit-request" class="btn btn-success text-light" style="width:20%">ثبت کتاب</a>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-danger text-light" style="width:20%">بازکشت</a>
                    </div>
                }
                else
                {
                    <div>
                        <h3 class="text-center my-2 mb-2 text-danger">کتابی در لیست شما وجود ندارد</h3>
                    </div>
                }
            </div>
        </div>
    </div> @*End row*@
    @*ایدی یوزر را دریافت و از طریق ایجکس برای اکشن میفرستیم*@
    <span id="span-userId" class="d-none">@userManager.GetUserId(User)</span>

</div>  @*End main-div*@


@section Scripts{
    <script>

        $(document).ready(function () {
            $("#btn-submit-request").click(function () {
            var userId = $("#span-userId").text();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("BorrowRequesteBook", "Book")',
                data: { 'userid': userId },
                success: function (msg) {
                    if (msg.status==="success") {
                        swal({
                            position: "center",
                            type: "success",
                            title: "<p class='' style='font-size:16px; font-weight:bold'>" + msg.message + "</p>",
                            showConfirmButton: true
                        }).then(function () {
                            window.location.href = '@Url.Action("Index","Home", new { Area=""})';
                            });
                    }

                    if (msg.status === "warning") {
                        if (msg.rs.length > 1) {
                            var book = "کتاب های";
                        } else { var book = "کتاب  " }
                         swal({
                             position: "center",
                             type: "warning",
                             title:
                                 "<p class='' style='font-size:16px; font-weight:bold'>" + book +
                                 "<span class='text-danger px-2 ' style='font-size:16px; font-weight:bold'>" + msg.rs + "</span>" +
                                 "<span class='' style='font-size:16px; font-weight:600'>" + msg.message + " </span>"+"</p>",
                             showConfirmButton: true,
                             //timer:1500
                         });
                    }
                }

            });

        });
    });


    </script>

}